<template>
  <div class="pege-home">Home</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class Home extends Vue {}
</script>

<style lang="less">
.pege-home {
  color: blue;
}
</style>
