<template>
  <div id="app">
    <RouterView />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Socket } from 'vue-socket.io-extended';

@Component
export default class App extends Vue {
  public mounted(): void {
    this.$socket.client.emit('initialisation', 1, this.initialisation);
  }

  @Socket('initialisation')
  public initialisation(): void {
    console.log(arguments);
  }
}
</script>

<style lang="less">
body {
  background-color: azure;
}
</style>
